tornado==6.5.1
triton==3.3.1
nvidia-cuda-cupti-cu12==12.6.80
black==25.1.0
nvidia-nvjitlink-cu12==12.6.85
loguru==0.7.3
hydra-core==1.3.2
distlib==0.3.9
annotated-types==0.7.0
pre_commit==4.3.0
nvidia-cuda-runtime-cu12==12.6.77
matplotlib==3.10.3
pathspec==0.12.1
filelock==3.18.0
idna==3.10
pillow==11.2.1
ipywidgets==8.1.7
coverage==7.10.6
ruff==0.11.12
flax==0.10.2
jupyter_client==8.6.3
huggingface-hub==0.32.3
rich==14.0.0
PyOpenGL==3.1.9
rsa==4.9.1
etils==1.12.2
nodeenv==1.9.1
requests-oauthlib==2.0.0
pytest-cov==7.0.0
nvidia-cublas-cu12==12.6.4.1
nvidia-curand-cu12==10.3.7.77
openpi==0.1.0
aiohttp==3.12.4
identify==2.6.12
nvidia-cuda-nvrtc-cu12==12.6.77
jedi==0.19.2
setuptools==80.9.0
pexpect==4.9.0
nvidia-cufile-cu12==1.11.1.6
gitdb==4.0.12
PyYAML==6.0.2
parso==0.8.4
einops==0.8.1
imageio==2.37.0
mdurl==0.1.2
googleapis-common-protos==1.70.0
fsspec==2025.3.0
google-cloud-storage==3.1.0
pynvml==12.0.0
ptyprocess==0.7.0
platformdirs==4.3.8
google-crc32c==1.7.1
svgwrite==1.4.3
pandas==3.0.1
Jinja2==3.1.6
debugpy==1.8.14
ml-dtypes==0.4.1
iniconfig==2.1.0
aiohappyeyeballs==2.6.1
Pygments==2.19.1
traitlets==5.14.3
comm==0.2.2
sentry-sdk==2.29.1
widgetsnbextension==4.0.14
multidict==6.4.4
wandb==0.19.11
GitPython==3.1.44
propcache==0.3.1
cycler==0.12.1
scipy==1.15.3
mpmath==1.3.0
humanize==4.12.3
gcsfs==2025.3.0
prompt_toolkit==3.0.51
dm-tree==0.1.9
simplejson==3.20.1
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusolver-cu12==11.7.1.2
python-dateutil==2.9.0.post0
frozenlist==1.6.0
six==1.17.0
urllib3==2.4.0
nvidia-nccl-cu12==2.26.2
safetensors==0.5.3
jaxlib==0.5.3
importlib_resources==6.5.2
jupyterlab_widgets==3.0.15
mypy==1.17.1
transformers==4.53.2
smmap==5.0.2
toolz==1.0.0
MarkupSafe==3.0.2
opencv-python==4.11.0.86
nvidia-cuda-nvcc-cu12==12.9.41
yarl==1.20.0
kiwisolver==1.4.8
numpydantic==1.6.9
ml_collections==1.0.0
regex==2024.11.6
decorator==5.2.1
typeguard==4.4.2
pyasn1_modules==0.4.2
executing==2.2.0
tqdm-loggable==0.2
wrapt==1.14.1
numpy==1.26.4
setproctitle==1.3.6
beartype==0.19.0
typing-inspection==0.4.1
lxml==5.4.0
sentencepiece==0.2.0
nvidia-nvtx-cu12==12.6.77
networkx==3.5
augmax==0.4.1
pytest==8.3.5
proto-plus==1.26.1
jupyter_core==5.8.1
ipython==9.2.0
openpi-client==0.1.0
ffmpeg-python==0.2.0
absl-py==2.3.0
fonttools==4.58.1
nvidia-cudnn-cu12==9.5.1.17
google-cloud-core==2.4.3
pyasn1==0.6.1
msgpack==1.1.0
glfw==2.9.0
dm-env==1.6
requests==2.32.3
virtualenv==20.31.2
pyparsing==3.2.3
typing_extensions==4.13.2
gymnasium==0.29.1
oauthlib==3.2.2
pydantic==2.11.5
pyzmq==26.4.0
omegaconf==2.3.0
google-api-core==2.24.2
orbax-checkpoint==0.11.13
mujoco==2.3.7
wcwidth==0.2.13
sympy==1.14.0
opt_einsum==3.4.0
packaging==25.0
antlr4-python3-runtime==4.9.3
cachetools==5.5.2
optax==0.2.4
polars==1.30.0
protobuf==4.25.8
future==1.0.0
stack-data==0.6.3
nvidia-cusparselt-cu12==0.6.3
zipp==3.22.0
contourpy==1.3.2
blinker==1.9.0
jax==0.5.3
Farama-Notifications==0.0.4
attrs==25.3.0
markdown-it-py==3.0.0
google-auth-oauthlib==1.2.2
certifi==2025.4.26
torch==2.7.1
treescope==0.1.9
shtab==1.7.2
nest-asyncio==1.6.0
ipython_pygments_lexers==1.1.1
pydantic_core==2.33.2
Tree==0.2.4
tqdm==4.67.1
tensorstore==0.1.74
h5py==3.13.0
websockets==15.0.1
nvidia-cufft-cu12==11.3.0.4
click==8.2.1
equinox==0.12.2
matplotlib-inline==0.1.7
nvidia-ml-py==12.575.51
labmaze==1.0.6
ipykernel==6.29.5
tyro==0.9.22
cfgv==3.4.0
jaxtyping==0.2.36
charset-normalizer==3.4.2
flatbuffers==25.2.10
pluggy==1.6.0
mypy_extensions==1.1.0
jax-cuda12-pjrt==0.5.3
Flask==3.1.3
dm-control==1.0.14
tokenizers==0.21.1
cloudpickle==3.1.1
wadler_lindig==0.1.6
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
docstring_parser==0.16
docker-pycreds==0.4.0
Werkzeug==3.1.3
hf-xet==1.1.2
psutil==7.0.0
asttokens==3.0.0
mediapy==1.2.4
google-auth==2.40.2
gym-aloha==0.1.1
pure_eval==0.2.3
google-resumable-media==2.7.2
chex==0.1.89
aiosignal==1.3.2
jax-cuda12-plugin==0.5.3
